<!DOCTYPE html>
<title>Jeu du Pendu</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<div class="jeu-container">

<h1 class="titre-jeu">Partie du Pendu</h1>
<p class="joueur">Joueur : {{ nom }}</strong></p>
<p class="vies">Vies restantes : <strong>{{ vies }}</strong> / 5</p>
<p>{{message}}</p>
<p>{{ mot_indice}} </p>
<pre>{{ dessin }}</pre>

<form method="post" action="/jeu">
    {% for lettre in "ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
        {% if lettre not in lettres_jouees %}
            <button type="submit" name="lettre" value="{{ lettre }}">{{ lettre }}</button>
        {% endif %}
    {% endfor %}
</form>
</div>